/*----- 4K Monitors -----*/
@media screen and (max-width: 2560px) {
	
}

/*----- Laptop L -----*/
@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	
}


/*----- Laptop -----*/
@media screen and (max-width: 1024px) {
	
}


@media screen and (max-width: 850px) {
	
}


/*----- Tablet -----*/
@media screen and (max-width: 768px) {
	header {
		color: #fff;
		background: url(../images/header_img.png) no-repeat bottom / 150%;
		background-position: -10% 100%;
	}
	.res-dnone {
		display: none!important;
	}
	.res-dblock {
		display: block!important;
	}
	.res-dflex {
		display: flex!important;
	}
	.navbar-nav .nav-link {
		text-align: center;
		font-size: 17px;
		padding: 1rem 0;
	}
	.res-px-15 {
		padding: 0 15px!important;
	}
	.mycontainer {
		display: flex;
		justify-content: space-between!important;
		align-items: center;
	}
	.circle_pone {
		width: 55px;
		height: 55px;
		font-size: 24px;
		margin: 0 15px;
	}
	.main_nav {
		padding: 10px 0!important;
	}
	.res_text_center {
		text-align: center;
	}
	.subtitle {
		font-size: 45px;
	} 
	h1 {
		font-size: 30px!important;
	}
	.title_img {
		width: 70px;
	}
	.section_title {
		font-size: 25px;
		line-height: 0.1;
	}
	.mycard {
		height: 280px;
		padding: 5px;
	}
	.mycard img {
		width: 70px;
	}
	.mycard h3 {
		font-size: 12px;
		line-height: 1.4;
	}
	.res-pb-3 {
		padding-bottom: 20px;
	}
	.mycard p {
		line-height: 1.4;
		font-size: 10px;
	}
	.header_text  {
		color: #303241;
	}
	.mydiv {
		flex-direction: column;
		margin-top: 3rem;
		padding: 50px 25px;
	}
	.mydiv h3 {
		padding: 25px 0;
		text-align: center;
	}
	#section03 {
		padding-top: 80px;
	}
	.questions_img {
		top: -2%;
		left: 50%;
	}
	.res-pr-0 {
		padding-right: 0!important;
	}
	.myh32 {
		padding-right: 0;
	}
	.mymap {
		position: inherit;
		height: 250px;
		width: 100%;
	}
	.myfooterdiv {
		flex-direction: column;
		text-align: center;
		justify-content: center;
	}
	.res-center {
		justify-content: center;
	}
	.mydiv3 {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.mydiv4 {
		padding: 30px 35px;
		margin-top: 3rem;
	}
	.myh32{
		padding-left: 0;
	}
	.myh32 h3 {
		padding-top: 10px;
	}
	.arrow_img {
		width: 200px;
		left: 9%;
		top: -27%;
	}
	.myh33 h4 {
		margin-bottom: 20px;
	}
	.myh33 h3 {
		font-size: 18px;
	}
	.whytg_section {
		background: url(../images/section5_bg_min.png) no-repeat center / 100%;
		padding-top: 5%;
		padding-bottom: 85%;
		position: relative;
	}
	.abstract9_img {
		bottom: 0;
	}
	.macbook_img {
		width: 77%;
		bottom: 8%;
	}
	.mycolmd-3 {
		padding-top: 5rem;
		padding-right: 15%!important;
		position: relative;
		top: 2rem;
	}
	.myabstract3 {
		bottom: 0rem;
	}
	.myabstract4 {
		bottom: 0rem;
	}
	.myrow {
		bottom: 0;
		margin-top: 3rem;
	}
	.res-pbmb-0 {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.accordion a {
		font-size: 11px;
		padding: 20px 30px;
	}
	.accordion a:after {
		right: 30px;
	}
	a.active:after {
		right: 28px;
	}
	.accordion li p {
		font-size: 14px;
	}
	
}

@media screen and (max-width: 600px) {
	.modal-dialog {
		margin: 0!important;
	}
	.mymodal {
		height: 100vh!important;
		width: 100vw!important;
		background: #fff;
	}
	.mymodal2 {
		height: 100vh!important;
		width: 100vw!important;
		background: url(../images/success_bg.png) no-repeat center / cover;
	}
	.modal_logo {
		width: 180px;
		margin-bottom: 1.5rem;
	}
	.modal_bg h2 {
		font-size: 26px;
	}

	.modal_bg h3 {
		font-size: 18px;
	}
	.modal_bg p {
		font-size: 18px;
		padding-bottom: 1rem;
	}
	.modal_bg2 h2 {
		font-size: 30px;
	}
	.modal_bg2 p {
		font-size: 16px;
		padding-bottom: 1rem;
	}
	.mymodal_body {
		padding: 3.5rem 2.5rem!important;
	}
	.modal_form input {
		font-size: 16px;
		padding: 12px 23px;
	}
	.modal_form button {
		font-size: 16px;
		padding: 12px 23px;
	}
	.modal_form label {
		font-size: 16px;
	}
}


/*----- Mobile L -----*/
@media screen and (max-width: 425px) {
	
}

/*----- Mobile M -----*/
@media screen and (max-width: 375px) {
	
}

/*----- Mobile S -----*/
@media screen and (max-width: 320px) {
	
}










/*------------------ MOBILE-FIRST Method ------------------*/

/*----- Mobile S -----*/
@media screen and (min-width: 320px) {
	
}


/*----- Mobile M -----*/
@media screen and (min-width: 375px) {
	
}


/*----- Mobile L -----*/
@media screen and (min-width: 425px) {
	
}


/*----- Tablet -----*/
@media screen and (min-width: 600px) {
	
}

@media screen and (min-width: 768px) {
	
}


/*----- Laptop -----*/
@media screen and (min-width: 850px) {
	
}

@media screen and (min-width: 1024px) {
	
}


/*----- Laptop L -----*/
@media screen and (min-width: 1200px) {
	
}

@media screen and (min-width: 1440px) {
	.whytg_section {
		background: url(../images/section5_bg.png) no-repeat center / 100%;
		padding-top: 17%;
		padding-bottom: 55%;
		position: relative;
	}
}
@media screen and (min-width: 1660px) {
	
}

/*----- 4K Monitors -----*/
@media screen and (min-width: 2560px) {
	
}