::selection {
  background-color: #009FC1;
  color: #fff;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
input:active,
input:focus,
button:active,
button:focus {
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'PT Sans', sans-serif!important;
  background: #ffffff;
}
header {
  height: 100vh;
  background: linear-gradient(180deg, #FFFFFF 33.51%, rgba(227, 227, 227, 0.17) 100%);
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none!important;
}
a:hover {

}
h1 {
  font-weight: bold!important;
  font-size: 45px!important;
  color: #303241!important;
}
.img-width {
  max-width: 100%;
}

.main_nav {
  padding: 25px 0!important;
  position: fixed!important;
  top: 0;
  width: 100%;
  z-index: 999;
  background: #fff;
}

.w-sm {
  width: 12px;
}
.mybtn {
  background: #47A6F9;
  box-shadow: 0px 6px 20px #B4D4FF;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  padding: 12px 50px 15px 50px;
  transition: all 0.4s;
  position: relative;
  bottom: 0;
  cursor: pointer;
  border: none;
}
.mybtn:hover {
  color: #fff;
  box-shadow: none;
  position: relative;
  bottom: 7px;
}



.res-dnone {
  display: block;
}



.logo img{
  width: 150px;
}
.nav-link {
  font-weight: bold;
  color: #B3B3B3;
  font-size: 18px;
  transition: all 0.25s;
}
.nav-link:hover{
  color: #449EF6!important;
}
.res-dflex {
  display: none!important;
}
.res-dblock {
  display: none!important;
}
.navbar-nav {
  display: flex!important;
  width: 100%!important;
  flex-direction: column!important;
}
.circle_pone {
  border: 1px solid #45A5FF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #45A5FF;
  transition: all 0.2s;
}
.circle_pone:hover {
  background: #45A5FF;
  color: #fff;
}

.hamburger {
  outline: none!important;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #555!important;
  width: 28px!important;
  height: 2px!important;
}
.navbar-toggler {
  padding: .3rem 0.75rem!important;
}
.hamburger-box {
  width: 30px!important;
  height: 15px!important;
}

.subtitle {
  font-size: 50px;
  color: #303241;
  font-weight: bold;
  padding-bottom: 15px;
}
.header_text {
  font-size: 20px;
  color: #727272;
}

.z2 {
  z-index: 2;
}

.first_img {
  height: 90vh!important;
  width: auto;
  position: absolute;
  bottom: 0;
  right: 5%;
  z-index: 0!important;
}
.section {
  padding: 100px 0;
}
.section_title {
  font-weight: bold;
  font-size: 36px;
  color: #303241;
  margin-bottom: 0;
  text-align: center;
  padding-bottom: 40px;
  font-size-adjust: cen
}
.weoffer_section {
  padding-bottom: 0;
  background: url(../images/section01_bg.png) no-repeat center / 100%;
}
.weoffer_section h3 {
  font-size: 32px;
  color: #303241;
  font-weight: bold;
  padding-bottom: 10px;
}
.weoffer_section p {
  font-size: 20px;
  color: #303241;

}
.myabstract3 {
  position: relative;
  bottom: 11rem;
}
.myabstract4 {
  position: relative;
  bottom: 5rem;
}
.exme_section {
  padding-top: 0;
}
.mycard {
  background: #fff;
  padding: 25px;
  box-shadow: 0px 35px 40px #BAD2E6;
  border-radius: 25px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  transition: all 0.3s;
  text-align: center;
}
.mycard:hover {
  transform: translate(0, -15px);
}
.mycard img {
  padding-bottom: 30px;
}
.mycard h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  color: #303241;
  margin-bottom: 0;
  padding-bottom: 13px;
}
.mycard p {
  line-height: 19px;
  color: #303241;

}
.linesbg {
  background: url(../images/lines3.png) no-repeat top left / 100%;
}

.linesbg h2 {
  font-weight: bold;
  font-size: 38px;
  line-height: 49px;

  color: #303241;
}
.linesbg h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 39px;
  margin-bottom: 0;
  padding-bottom: 25px;
  color: #262626;
}

.linesbg h5 {
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;
  margin-bottom: 0;
  color: #000000;
}

.linesbg h4 {
  font-size: 28px;
  line-height: 31px;
  font-weight: 400;
  color: #000000;
}
.mydiv {
  background: #FFFFFF;
  box-shadow: 0px 15px 45px #DADADA;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 25px 50px;
}
.mydiv h3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 0.02em;

  color: #414246;
}
.mydiv .mybtn {
  box-shadow: 0px 6px 20px #B4D4FF, 0px 5px 15px #56CCF2;
}
.mydiv .mybtn:hover {
  box-shadow: none;
}
#section03 {
  padding-top: 200px;
  background: url(../images/section3_bg.png) no-repeat center / cover;
}
.mydiv2 {
  background: #FFFFFF;
  box-shadow: 0px 0px 12px rgba(120, 120, 120, 0.3);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 364px;
  position: relative;
  padding: 50px 40px;
}
.mydiv2 h3 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #303241;
  margin-bottom: 0;
  padding-bottom: 25px;
}
.mydiv2 p {
  font-size: 20px;
  line-height: 26px;

  color: #414245;
}
.arrow_img {
  position: absolute;
  top: -52.5%;
  left: -8%;
}
.trusus_section {
  padding-bottom: 0;
  background: url(../images/section4_bg.png) no-repeat center / cover;
}

.trusus_section .mydiv {
  margin-top: 10rem;
  position: relative;
}
.questions_img {
  position: absolute;
  left: 17.5%;
  top: -17%;
  transform: translate(-50%, -50%);
}

.section_title_pt {
  padding-top: 5rem;
}
.whytg_section {
  background: url(../images/section5_bg.png) no-repeat center / 100%;
  padding-top: 15%;
  padding-bottom: 45%;
  position: relative;
}
.mycolmd-3 {
  text-align: right;
}
.mycolmd-3 h2 {
  font-size: 70px;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: -0.02em;
  line-height: 30px;
  color: #FFFFFF;
  padding-bottom: 5px;
}
.mycolmd-3 h3 {
  font-weight: bold;
  font-size: 37px;
  line-height: 40px;
  color: #FFFFFF;
}
.mycolmd-3 h4 {
  font-weight: bold;
  font-size: 33px;
  line-height: 52px;
  color: #FFFFFF;
}
.mycolmd-3 h5 {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
}

.whytg_section p {
  font-size: 19px;
  line-height: 23px;
  font-weight: 400;
  color: #F1F1F1;
  padding-bottom: 8px;
}
.whytg_section span {
  font-size: 24px;
  font-weight: bold;
}
.abstract9_img {
  position: relative;
  bottom: 8rem;
}
.mypb-5 {
  padding-bottom: 3rem;
}
.mymb-5 {
  margin-bottom: 3rem;
}

.mycolmd-32 h2 {
  font-size: 70px;
  font-weight: bold;
  font-size: 35px;
  line-height: 25px;
  color: #FFFFFF;
  padding-bottom: 5px;
}
.mycolmd-32 h3 {
  font-weight: bold;
  font-size: 35px;
  line-height: 35px;
  color: #FFFFFF;
}
.mycolmd-32 h4 {
  font-weight: bold;
  font-size: 55px;
  line-height: 35px;
  color: #FFFFFF;
}
.mycolmd-32 h5 {
  font-weight: bold;
  font-size: 55px;
  line-height: 35px;
  padding-bottom: 20px;
  color: #FFFFFF;
}

.macbook_img {
  position: absolute;
  bottom: 26%;
  right: 0;
  width: 52%;
}
.my1row {
  padding-bottom: 4rem;
}
.main_questions_section {
  padding-bottom: 80px;
  background: url(../images/section06_bg.png) no-repeat center / 100%;
}
.main_questions_section .section_title {
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  bottom: 3rem;
}

.mydiv3 {
  background: #FFFFFF;
  
  border-radius: 15px 15px 0 0 ;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 35px;
}
.myshadow {
  box-shadow: 0px 15px 45px #DADADA;
  border-radius: 15px;
}
.myh3 h3 {
  font-size: 28px;
}
.myh32 {
  padding-left: 25px;
}
.myh32 h3 {
  font-size: 27px;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height */


  color: #414246;
}
.myh32 h4 {
  font-weight: bold;
  font-size: 23px;
  color: #1A2B63;
}
.mydiv_bottom {
  background: #F4F4F4;
  padding: 15px 30px;
  display: flex;
  justify-content: flex-end;
  border-radius: 0px 0px 15px 15px;
}

.mydiv_bottom img {
  width: 27px;
}


.myh33 h3 {
  font-weight: bold;
  font-size: 19px;
  line-height: 28px;

  color: #5BADEB;
  padding-bottom: 5px;
}
.myh33 h4 {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;

  color: #414246;
  margin-bottom: 0;
}

.mydiv4 {
  background: #FFFFFF;
  
  border-radius: 15px 15px 0 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 55px;
}
.input_block {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.input_block label {
  font-size: 16px;
  line-height: 21px;
  color: #5B5B5B;
  padding-left: 10px;
}
.main_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main_form input {
  background: #FFFFFF;
  box-shadow: 0px 5px 15px #DADADA;
  border-radius: 15px;
  border: none;
  padding: 13px 18px;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  color: #5B5B5B;
}
.main_form button {
  padding: 12px 70px 15px 70px;
  font-weight: bold;
  font-size: 20px;
}
.main_form input::placeholder {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  color: #5B5B5B;
}


/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
.custom-select-wrapper select {
  display: none!important;
}
.custom-select {
  position: relative;
  display: flex;
  height: initial!important;
  padding: 0!important;
  border: none!important;
  padding: inherit;
}
.custom-select-trigger {
  position: relative;
  display: block;
  width: 100%;
  padding: 5px 18px;
  font-weight: bold;
  font-size: 15px;
  color: #5B5B5B;
  line-height: 40px;
  cursor: pointer;

  background: #FFFFFF;
  box-shadow: 0px 5px 15px #DADADA;
  border-radius: 15px;
}
.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 11px; height: 10px;
  top: 50%; right: 25px;
  margin-top: -3px;
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
  background: linear-gradient(to right top, transparent 50%, #5B5B5B 50%) left / 55% 100% no-repeat, linear-gradient(to left top, transparent 50%, #5B5B5B 50%) right / 50% 100% no-repeat;
}
.custom-select.opened .custom-select-trigger:after {
  margin-top: 5px;
  transform: rotate(180deg);
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%; left: 0; right: 0;
  min-width: 100%;
  margin: 10px 0;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 0px 5px 15px #DADADA;
  background: #fff;
  z-index: 2;
  transition: all .4s ease-in-out;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}
.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  font-weight: bold;
  font-size: 18px;

  color: #5B5B5B;
  line-height: 50px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}
.custom-option:first-of-type {
  border-radius: 15px 15px 0 0;
}
.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 15px 15px;
}
.custom-option:hover,
.custom-option.selection {
  background: #F4F4F4;
}
.range {
  -webkit-appearance: none!important;
  
  padding: 0px!important;
  height: 2px;
  background: #dcdcdc!important;
}
.myw {
  width: 60%!important;
  padding: 0 10px 8px 10px;
}
#range-value {
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  color: #5B5B5B;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none!important;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #874FF7!important;
  box-shadow: none!important;
  outline: none!important;
  position: relative!important;
}

footer {
  background: linear-gradient(to top, #FFFFFF 33.51%, #F7FAFF 100%)!important;
  position: relative;
}
.footer_inner {
  background-image: url(../images/footer_bg.png)!important;
  background-repeat: no-repeat;
  background-size: 110px;
  background-position: left bottom;
  width: 100%;
  height: 100%;
}
.mymap {
  height: 100%;
  width: 55%;
  position: absolute;
  top: 0;
  right: 0;
}

.mypt {
  padding-top: 6rem;
}

.mypt span{
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;

  transition: all 0.25s;
  color: #696B7B;
}
.mypt a:hover  span{
  color: #449EF6;
}

.myfooterdiv {
  background: #FFFFFF;
  box-shadow: 0px -1px 15px #CFC1C1;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  position: relative;
  z-index: 2;
}
.myfooterdiv p {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.01em;

  color: #5B5B5B;
}

.myfooterdiv p a {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #47A6F9;
}
.our_domen {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #5B5B5B;
  transition: all 0.25s;
}

.our_domen:hover {
  color: #449EF6;
}
.myphoneicon {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  transition: all 0.25s;
  color: #414141;
}

.myphoneicon:hover {
  color: #449EF6;
}
.myphoneicon img{
  width: 25px;
  margin-right: 5px;
}
.myhamburger {
  display: flex;
  flex-direction: column;
  width: 29px;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
.myhamburger .lines {
  background: #47A6F9;
  border-radius: 100px;
  height: 4px;
  transition: all 0.25s!important;
}

.myhamburger .line1 {
  width: 50%;
}

.myhamburger .line2 {
  width: 100%;
  margin: 5px 0;
}

.myhamburger .line3 {
  width: 50%;
  transform: translate(100%, 0);
}

.menu_active .line1 {
  transform: translate(100%, 0);
}

.menu_active .line3 {
  transform: translate(0, 0);
}

.mymenu {
  position: absolute;
  top: -20px;
  right: -20px;
  transition: all 0.25s;
  z-index: 2;
  background: linear-gradient(180deg, #FFFFFF 5.67%, #FFFFFF 65.52%, #FFFFFF 83.53%, #FFFFFF 100%);
  box-shadow: 0px 0px 20px rgba(180, 180, 180, 0.15);
  border-radius: 10px;
  height: 0;
  min-width: 300px;
  padding: 0 25px;
  overflow: hidden;
}

.mymenu_active {
  top: -20px;
  right: -20px;
  padding: 35px 25px;
  overflow: inherit;
  height: inherit;
}

.myd-flex {
  display: flex;
}


.accordion {
  width: 100%;
}
.accordion li {
  position: relative;
  margin-bottom: 20px!important; 
}
.accordion li p {
  display: none;
  padding: 2rem;
  color: #fff;
  background: #0980E9;
  font-weight: 500;
  border-radius: 12px;
  position: relative;
  font-size: 18px;
  line-height: 23px;

  color: #FFFFFF;
  bottom: 10px;
  z-index: 0;
  box-shadow: 0px 8px 10px rgba(43, 43, 43, 0.25);
  width: 95%;
  margin: 0 auto;
}
.accordion a {
  width: 100%;
  z-index: 2!important;
  cursor: pointer;
  background: #3BA1FA;
  border-radius: 12px;
  position: relative;
  text-transform: uppercase;
  display: block;
  color: #fff!important; 
  font-weight: bold!important;
  padding: 25px 40px;
  font-size: 18px;
  user-select: none;
  transition: all 0.25s;
}
.accordion a:hover {
}
.accordion a:active {
  transform: scale(0.95);
}
.accordion a:hover:after {
} 
.accordion a:after {
  width: 8px;
  height: 8px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  right: 50px;
  content: " ";
  top: 45%; 
  transform: rotate(-45deg) ;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}


a.active:after {
  top: 44%;
  right: 48px;
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mymodal {
  height: 620px;
  background: url(../images/modal.png) no-repeat center / contain;
}
.mymodal2 {
  height: 620px;
  background: url(../images/success_bg_desktop.png) no-repeat center / contain;
}
.myclose {
  display: block;
  position: absolute;
  top: 50px;
  right: 38px;
  cursor: pointer;
  z-index: 5;
  outline: none!important;
  width: 17px!important;
  opacity: 1!important;
}
.mymodal_content {
  border: none!important;
  border-radius: 0!important;
  padding: 0!important;
  background: transparent!important;
}

.mymodal_body {
  border: none!important;
  border-radius: 0!important;
  padding: 5.5rem 2.5rem!important;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 300px!important;
    margin: 0 auto!important;
  }
}

.modal_bg {
  text-align: center;
  padding-top: 15px;
  background: url(../images/modal_bg.png) no-repeat center / cover;
}
.modal_bg h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #414246;
  margin-bottom: 0;
}

.modal_bg h3 {
  font-weight: bold;
  font-size: 13px;
  color: #5BADEB;
  padding-bottom: 10px;
}
.modal_bg p {
  font-size: 15px;
}

.modal_bg2 {
  text-align: center;
  padding-top: 3rem;
}
.modal_bg2 h2 {
  font-weight: bold;
  font-size: 23px;

  text-align: center;

  color: #FFFFFF;
  margin-bottom: 0;
}

.modal_bg2 p {
  font-size: 12px;
  text-align: center;
  padding-top: 15px;
  color: #FFFFFF;
}
.modal_logo {
  width: 120px;
  margin-bottom: 1rem;
}

.modal_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal_form input {
  background: #FFFFFF;
  box-shadow: 0px 5px 15px #DADADA;
  border-radius: 12px;
  border: none;
  padding: 7px 18px;
  width: 100%;
  font-weight: bold;
  font-size: 12px;
  line-height: 23px;

  color: #5B5B5B;
}
.modal_form label {
  font-size: 12px;
}
.modal_form button {
  padding: 9px 0;
  width: 100%;
  background: #47A6F9;
  box-shadow: 0px 6px 20px #B4D4FF, 0px 5px 15px #56CCF2;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 12px;
  margin-top: 3rem;
  transition: all 0.25s;
}
.modal_form button:hover {
  box-shadow: none;
  margin-top: 2.75rem;
}
.modal_form input::placeholder {
  font-weight: bold;
  font-size: 12px;
  line-height: 23px;

  color: #5B5B5B;
}
.bg_none {
  background: none!important;
}

.check_circle {
  background: #47A6F9;
  box-shadow: 0px 6px 20px #B4D4FF, 0px 5px 15px #56CCF2;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem auto;
  color: #fff;
  font-size: 35px;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #47A6F9;
  z-index: 9999;
  transition: all 0.5s;
  opacity: 1;
  visibility: visible;
}

.done {
  opacity: 0!important;
  visibility: hidden!important;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}


.banter-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 72px;
  height: 72px;
  margin-left: -36px;
  margin-top: -36px;
}
.banter-loader__box {
  float: left;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 6px;
}
.banter-loader__box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
.banter-loader__box:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 6px;
}
.banter-loader__box:nth-child(1):before, .banter-loader__box:nth-child(4):before {
  margin-left: 26px;
}
.banter-loader__box:nth-child(3):before {
  margin-top: 52px;
}
.banter-loader__box:last-child {
  margin-bottom: 0;
}

@keyframes moveBox-1 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }
  18.1818181818% {
    transform: translate(0px, 0);
  }
  27.2727272727% {
    transform: translate(0px, 0);
  }
  36.3636363636% {
    transform: translate(26px, 0);
  }
  45.4545454545% {
    transform: translate(26px, 26px);
  }
  54.5454545455% {
    transform: translate(26px, 26px);
  }
  63.6363636364% {
    transform: translate(26px, 26px);
  }
  72.7272727273% {
    transform: translate(26px, 0px);
  }
  81.8181818182% {
    transform: translate(0px, 0px);
  }
  90.9090909091% {
    transform: translate(-26px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.banter-loader__box:nth-child(1) {
  animation: moveBox-1 4s infinite;
}

@keyframes moveBox-2 {
  9.0909090909% {
    transform: translate(0, 0);
  }
  18.1818181818% {
    transform: translate(26px, 0);
  }
  27.2727272727% {
    transform: translate(0px, 0);
  }
  36.3636363636% {
    transform: translate(26px, 0);
  }
  45.4545454545% {
    transform: translate(26px, 26px);
  }
  54.5454545455% {
    transform: translate(26px, 26px);
  }
  63.6363636364% {
    transform: translate(26px, 26px);
  }
  72.7272727273% {
    transform: translate(26px, 26px);
  }
  81.8181818182% {
    transform: translate(0px, 26px);
  }
  90.9090909091% {
    transform: translate(0px, 26px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.banter-loader__box:nth-child(2) {
  animation: moveBox-2 4s infinite;
}

@keyframes moveBox-3 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }
  18.1818181818% {
    transform: translate(-26px, 0);
  }
  27.2727272727% {
    transform: translate(0px, 0);
  }
  36.3636363636% {
    transform: translate(-26px, 0);
  }
  45.4545454545% {
    transform: translate(-26px, 0);
  }
  54.5454545455% {
    transform: translate(-26px, 0);
  }
  63.6363636364% {
    transform: translate(-26px, 0);
  }
  72.7272727273% {
    transform: translate(-26px, 0);
  }
  81.8181818182% {
    transform: translate(-26px, -26px);
  }
  90.9090909091% {
    transform: translate(0px, -26px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.banter-loader__box:nth-child(3) {
  animation: moveBox-3 4s infinite;
}

@keyframes moveBox-4 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }
  18.1818181818% {
    transform: translate(-26px, 0);
  }
  27.2727272727% {
    transform: translate(-26px, -26px);
  }
  36.3636363636% {
    transform: translate(0px, -26px);
  }
  45.4545454545% {
    transform: translate(0px, 0px);
  }
  54.5454545455% {
    transform: translate(0px, -26px);
  }
  63.6363636364% {
    transform: translate(0px, -26px);
  }
  72.7272727273% {
    transform: translate(0px, -26px);
  }
  81.8181818182% {
    transform: translate(-26px, -26px);
  }
  90.9090909091% {
    transform: translate(-26px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.banter-loader__box:nth-child(4) {
  animation: moveBox-4 4s infinite;
}

@keyframes moveBox-5 {
  9.0909090909% {
    transform: translate(0, 0);
  }
  18.1818181818% {
    transform: translate(0, 0);
  }
  27.2727272727% {
    transform: translate(0, 0);
  }
  36.3636363636% {
    transform: translate(26px, 0);
  }
  45.4545454545% {
    transform: translate(26px, 0);
  }
  54.5454545455% {
    transform: translate(26px, 0);
  }
  63.6363636364% {
    transform: translate(26px, 0);
  }
  72.7272727273% {
    transform: translate(26px, 0);
  }
  81.8181818182% {
    transform: translate(26px, -26px);
  }
  90.9090909091% {
    transform: translate(0px, -26px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.banter-loader__box:nth-child(5) {
  animation: moveBox-5 4s infinite;
}

@keyframes moveBox-6 {
  9.0909090909% {
    transform: translate(0, 0);
  }
  18.1818181818% {
    transform: translate(-26px, 0);
  }
  27.2727272727% {
    transform: translate(-26px, 0);
  }
  36.3636363636% {
    transform: translate(0px, 0);
  }
  45.4545454545% {
    transform: translate(0px, 0);
  }
  54.5454545455% {
    transform: translate(0px, 0);
  }
  63.6363636364% {
    transform: translate(0px, 0);
  }
  72.7272727273% {
    transform: translate(0px, 26px);
  }
  81.8181818182% {
    transform: translate(-26px, 26px);
  }
  90.9090909091% {
    transform: translate(-26px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.banter-loader__box:nth-child(6) {
  animation: moveBox-6 4s infinite;
}

@keyframes moveBox-7 {
  9.0909090909% {
    transform: translate(26px, 0);
  }
  18.1818181818% {
    transform: translate(26px, 0);
  }
  27.2727272727% {
    transform: translate(26px, 0);
  }
  36.3636363636% {
    transform: translate(0px, 0);
  }
  45.4545454545% {
    transform: translate(0px, -26px);
  }
  54.5454545455% {
    transform: translate(26px, -26px);
  }
  63.6363636364% {
    transform: translate(0px, -26px);
  }
  72.7272727273% {
    transform: translate(0px, -26px);
  }
  81.8181818182% {
    transform: translate(0px, 0px);
  }
  90.9090909091% {
    transform: translate(26px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.banter-loader__box:nth-child(7) {
  animation: moveBox-7 4s infinite;
}

@keyframes moveBox-8 {
  9.0909090909% {
    transform: translate(0, 0);
  }
  18.1818181818% {
    transform: translate(-26px, 0);
  }
  27.2727272727% {
    transform: translate(-26px, -26px);
  }
  36.3636363636% {
    transform: translate(0px, -26px);
  }
  45.4545454545% {
    transform: translate(0px, -26px);
  }
  54.5454545455% {
    transform: translate(0px, -26px);
  }
  63.6363636364% {
    transform: translate(0px, -26px);
  }
  72.7272727273% {
    transform: translate(0px, -26px);
  }
  81.8181818182% {
    transform: translate(26px, -26px);
  }
  90.9090909091% {
    transform: translate(26px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.banter-loader__box:nth-child(8) {
  animation: moveBox-8 4s infinite;
}

@keyframes moveBox-9 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }
  18.1818181818% {
    transform: translate(-26px, 0);
  }
  27.2727272727% {
    transform: translate(0px, 0);
  }
  36.3636363636% {
    transform: translate(-26px, 0);
  }
  45.4545454545% {
    transform: translate(0px, 0);
  }
  54.5454545455% {
    transform: translate(0px, 0);
  }
  63.6363636364% {
    transform: translate(-26px, 0);
  }
  72.7272727273% {
    transform: translate(-26px, 0);
  }
  81.8181818182% {
    transform: translate(-52px, 0);
  }
  90.9090909091% {
    transform: translate(-26px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}
.banter-loader__box:nth-child(9) {
  animation: moveBox-9 4s infinite;
}